.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 6rem;
}

/* Mobile */
@media (max-width: 600px) {
}

/* Tablet */
@media (min-width: 601px) and (max-width: 900px) {
}

/* Smaller Desktop */
@media (min-width: 901px) and (max-width: 1120px) {
}
